<!--
    Author: Domenic Catalano
    Date: Tuesday, December 8, 2020
    Page: Forgot Password Confirmation
-->

@model BooksForYou.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<!DOCTYPE HTML>

<html>
<head>
    <!-- Page Title -->
    <title>BooksForYou</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <h1>Forgot Password Confirmation</h1>
    <p>Your password has been successfully reset.</p>
</body>
</html>

