@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate with the links above to add a new author or a new book to our system!</p>
</div>
